@import "~bootstrap/dist/css/bootstrap.min.css";

* {
  border: 1px dashed red;
  min-height: 10px;
}
#main-container {
  height: 40rem;
  font-size: 6rem;
}

#symbol2 {
  transform: rotate(180deg);
}
